.track {
	display: grid;
	width: auto;
	grid-template-columns: auto auto;
}
.track-container {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	border: 0.2px solid rgb(50, 50, 50);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 0px 5px 10px 5px;
	letter-spacing: 0;
}
.info {
	display: flex;
	justify-content: space-between;
	margin: 1rem 3.3rem;
}
.image-container {
	position: relative;
	display: flex;

	height: 100px;
	width: 100%;
}
.body-image {
	object-fit: contain;
	border-radius: 10px;
	margin-top: 7px;
	height: 100%;
	width: 100%;
}

.delete {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	padding: 15px 15px 5px 15px;
}

.date {
	display: flex;
	align-items: flex-end;
}

.date h3 {
	padding-left: 1rem;
	font-size: 10px;
	text-overflow: none;
}

.error {
	color: red;
	font-size: 0.8rem;
}

.color {
	color: rgb(255, 255, 0);
}
@media (max-width: 545px) {
	.track {
		display: grid;
		width: auto;
		grid-template-columns: auto;
	}
}
