.blog-container {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: black;
	padding: 0 3rem;
	text-align: center;
}
.blog-container h1 {
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.article a {
	text-decoration: none;
}
.article p {
	font-size: 0.6rem;
	color: rgba(255, 255, 255, 0.4);
}
.article-container {
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background-color: black;
	min-height: 250px;
}
.article-container img {
	width: 100%;
	filter: brightness(80%);
	border-radius: 5px;
}
.article-container h5 {
	color: gold;
}
.article-container img:hover {
	filter: brightness(100%);
}
@media (max-width: 800px) {
	.article {
		grid-template-columns: repeat(2, 1fr);
	}
	.about-text {
		width: 85%;
	}
	.home-text h1 {
		margin: 0;
		font-size: 2rem;
	}
	.track-container {
		padding: 0.4rem 1rem;
		margin: 15px;
	}
	.track-container h2 {
		font-size: 1.3rem;
	}
	.delete {
		position: relative;
		top: 0;
		left: 90%;
	}
}
@media (max-width: 545px) {
	.article-container {
		min-height: auto;
	}
	.blog-container {
		padding: 0 15px;
	}
	.article {
		grid-template-columns: repeat(1, 1fr);
	}
	.filter h2 {
		font-size: 1rem;
	}
	.filter {
		flex-direction: column;
	}
}
