body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;

	padding: 1rem 5%;
}

.logo-container {
	background-image: url(/src/img/372.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 90px;
	height: 70px;
	color: #fff;
}
.list {
	display: flex;
	list-style: none;
}
.list-items a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	padding-right: 1rem;
}
.list-items a:hover {
	text-decoration: underline;
}

/* Home */

.home-container {
	height: 90vh;
	background-image: url('/src/img/anastase-maragos-9dzWZQWZMdE-unsplash.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-text {
	position: absolute;
	top: 40%;
	left: 20%;
	color: #fff;
}
.home-text h1 {
	margin: 0;
	font-size: 4rem;
}

.button-container {
	margin-top: 50px;
}

.button {
	text-decoration: none;
	color: rgb(0, 0, 0);

	padding: 1rem;
	background-color: rgb(255, 255, 255);
}

.filter {
	display: flex;
	align-items: center;
	width: 90%;
	overflow: visible;
	margin-top: 10px;
	text-align: center;
}

.filter button {
	height: 22px;
	margin: 3px 5px;
	color: #fff;
	background-color: rgba(98, 98, 98, 0.4);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.01rem;
}
.filter button:hover {
	background-color: rgba(98, 98, 98, 0.7);
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
#clear {
	background-color: rgb(216, 48, 48);
}

/* Tracker */
.tracker-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(/src/img/about.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	color: #fff;
	min-height: 90vh;
}
.tracker-text {
	text-align: center;
	font-size: 20px;
}

.inputs-container {
	width: 400px;
}

.inputs-container .form {
	display: flex;
	flex-direction: column;
}
form {
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid white;
	box-shadow: 1px 2px 6px rgb(153, 153, 153);
	padding: 2rem;
	border-radius: 4px;
}
.input {
	display: flex;
	justify-content: space-between;
	padding-top: 7px;
}
label {
	font-size: 22px;
}
.input input {
	width: 200px;
	height: 21px;
	background-color: rgba(255, 255, 255, 0.9);
	outline: none;
	border: none;
	border-radius: 8px;
}
.input select {
	border-radius: 8px;
	width: 205px;
	height: 21px;
}
.submit {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}
.submit input {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.4);
	outline: none;
	border: none;
	padding: 6px 19px;
}
.submit input:hover {
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

/* TRACK */

.track-container {
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid white;
	box-shadow: 1px 2px 6px rgb(153, 153, 153);
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 1rem 5rem;
}

.delete {
	position: relative;
	top: 0;
	left: 115%;
	cursor: pointer;
}

.date {
	display: flex;
	align-items: flex-end;
}

.date h3 {
	padding-left: 1rem;
	font-size: 10px;
	text-overflow: none;
}

.error {
	color: red;
	font-size: 0.8rem;
}

.footer-container {
	display: flex;
	justify-content: center;
	padding: 3rem 0 1rem 0;
	background: rgb(0, 0, 0);

	box-shadow: 1px 2px 23px 0px rgb(0, 0, 0);
	color: rgb(212, 212, 212);
	text-align: center;
}

.color {
	color: rgb(226, 48, 48);
}

/* BLOG */

.blog-container {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: black;
	padding: 0 3rem;
	text-align: center;
}
.blog-container h1 {
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.article a {
	text-decoration: none;
}
.article p {
	font-size: 0.6rem;
	color: rgba(255, 255, 255, 0.4);
}
.article-container {
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background-color: black;
	min-height: 250px;
}
.article-container img {
	width: 100%;
	filter: brightness(80%);
	border-radius: 5px;
}
.article-container h5 {
	color: gold;
}
.article-container img:hover {
	filter: brightness(100%);
}

@media (max-width: 1200px) {
	.about-text {
		width: 70%;
	}
}
@media (max-width: 800px) {
	.article {
		grid-template-columns: repeat(2, 1fr);
	}
	.about-text {
		width: 85%;
	}
	.home-text h1 {
		margin: 0;
		font-size: 2rem;
	}
	.track-container {
		padding: 0.4rem 1rem;
		margin: 15px;
	}
	.track-container h2 {
		font-size: 1.3rem;
	}
	.delete {
		position: relative;
		top: 0;
		left: 90%;
	}
}
@media (max-width: 545px) {
	.article-container {
		min-height: auto;
	}
	.blog-container {
		padding: 0 15px;
	}
	.article {
		grid-template-columns: repeat(1, 1fr);
	}
	.filter h2 {
		font-size: 1rem;
	}
	.filter {
		flex-direction: column;
	}
}
@media (max-width: 345px) {
	.input input {
		width: auto;
		height: auto;
	}
	.input select {
		width: auto;
		height: auto;
	}
	.home-text {
		margin: auto;
	}

	.home-text h1 {
		margin: 0;
		font-size: 1rem;
	}
}
@media (max-width: 532px) {
	.inputs-container {
		width: auto;
	}
	form .input {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.input label {
		font-size: 1rem;
		padding-bottom: 4px;
	}
	form {
		padding: 0.6rem;
	}
}
